body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 15px;
  color: rgb(20, 20, 20);
  background-color: rgb(230, 230, 230);
}


h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 20px;
  color: #F73859;
}

h2 {
  font-size: 18px;
}


h3 {
  font-size: 17px;
}

a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}

a:hover {
  color: #F73859;
}

.card-white {
  width: 700px;
  background:  white;
  padding: 31px;
  margin: 50px auto;
  border-radius:  60px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }

.img-circle {
  border-radius: 50%;
  height: 200px;
}

.btn-red{
  background-color: #F73859;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  border-radius:  60px;
}

.btn-red:hover {
  color: white;
  background-color: #F73859;
}

.text-center {
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  padding: 0px 8px;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

